*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
}
header {
    background-color: #a5b1bb;
    color: #f3f3f3;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Logo img {
    border-radius: 50%;
    cursor: pointer;
}

.Lista-Header {
    display: flex;
    gap: 20px;
} 
.Lista-Header a{
    text-decoration: none;
    color: #f3f3f3
}
main {
    background-color: #c1c1c1;
    display: flex;
}